.adsense-sidebar {
  margin-bottom: 50px;
  text-align: center;
}

.adsense-post {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .adsense-sidebar, .adsense-post {
    display: none;
  }
}
